.box-autogrow {
  display: flex;
  height: 2.5em;
  width: 320px;
}

.box-autogrow .inp-autogrow {
  flex-grow: 1;
  border: 0;
  padding: 0;
  resize: none;
}

.box-autogrow .btn-copy {
  color: #2793e6;
  border: 0;
  padding: 0 .5em;
}
